/* Common */
#dashboard, #dashLeft, #dashRight{
	float: left;
}
#dashboard{
	width: 100%;
	margin: 0.5em 0 1.5em 0;
}
#dashLeft{
	width: 30%;
}
#dashRight{
	float: right;
	width: 67%;
}

/* Common styling for all blocks */
.dashboardBlock{
	float: left;
	width: 100%;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.9em;
	background: #f8f8f8;
	border-bottom: solid 1px #f1f1f1;
	color: #9c9c9c;
	margin-bottom: 2em;
}
.dashboardBlock h3{
	color: #f16022;
	background: #efefef;
	margin: 0;
	padding: 0 1em;
	height: 2.5em;
	line-height: 2.5em;
	font-size: 1.1em;
	font-weight: normal;
}
#dashLeft ul, #dashLeft li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	white-space: normal;
}
.dashboardBlock .hbContent{
	padding: 0.5em 1em;
	line-height: 2em;
}
#hapus_dashboard .right{
	float: right;
}
#hapus_dashboard .center{
	margin-left: 2.3em;
}

/* Table styling */
#dashRight h2 {
	color: #F66A2D;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	margin-top: 0;
}
#dashRight table{
	width: 100%;
	margin-bottom: 1em;
}

/*Quickstarter block*/
.qsNumber{
	float: left;
	background: #F16022;
	color: #fff;
	border-radius: 6em;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-right: 0.5em;
}
#quickstarter li {
	margin: 0 0 10px 0;
}
#quickstarter li.last{
	margin-bottom: 5px;
}
#quickstarter .item-list{
	margin-top: 5px;
}

/* Empty dashboard help */
#emptyHelp {
	padding: 0 0 0 1.5em;
	margin-top: -0.5em;
}
#emptyHelp li {
	margin-bottom: 0.5em;
}