/* Common */
dl.accordion, dl.accordion dt, dl.accordion dd{
	float: left;
	width: 100%;
}
dl.accordion dd{
	margin: 0;
	display: none;
}

/* Individual definition Styling */
dl.accordion dt, dl.accordion dd{
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: #f5f5f5;
}
dl.accordion .acToggle{
	background: #F5F5F5;
	color: #B5B5B5;
	float: left;
	font-family: 'Open Sans';
	font-size: 40px;
	font-weight: 300;
	height: 40px;
	line-height: 38px;
	padding-left: 2px;
	text-align: center;
	text-shadow: -2px 2px 1px #FFFFFF;
	width: 38px;
}
dl.accordion .acTitle {
	float: left;
	color: #494949;
	font-size: 1.1em;
	margin: 0.7em;
}
dl.accordion dt .minus{
	display: none;
}

/* Styling for active definitions */
dl.accordion .activeDT{
	border-bottom: none;
	margin-bottom: 0;
}
dl.accordion .activeDT .plus{
	display: none;
}
dl.accordion .activeDT .minus{
	display: block;
	font-size: 1.2em;
	line-height: 30px;
}

/* Styling for hover */
dl.accordion dt:hover{
	cursor: pointer;
}
dl.accordion dt:hover .acToggle{
	color: #f8622d;
	background: #ededed;
}
/* Open DD styling */
dl.accordion dt.activeDT, dl.accordion dt.activeDT .acToggle{
	background: #ededed;
}
dl.accordion dd{
	background: #f5f5f5;
}